$white: #ffffff;
$dark-grey: #6a6a6a;
$e2-grey: #e2e2e2;
$e5-grey: #e5e5e5;
$neutral-grey: #8d8d8d;
$pink: #c32c72;
$off-white: #f4f3ee;

.navbar-light .navbar-nav .nav-link.active {
  color: $pink !important;
}

.nav-link {
  text-transform: uppercase;
}

.navbar {
  background-color: $off-white !important;
}

.container {
  padding-bottom: 150px;
}

.navbar-light .navbar-toggler {
  border-color: $off-white !important;
}
